##########
# Config #
##########

function funcConfigPre {	# These values are set at the beginning of the script
	user=""															# OTR email address
	pass=""															# OTR password

	delugeDir="/etc/deluged"										# Config dir of DelugeD
	inDir="/Multimedia/Video/.Downloaded"							# Dir with .otrkeys
	tempDir="/Multimedia/Video/.Temp"								# Dir with decoded and cut videos (output of decoder and cutter)
	outDir="/Multimedia/Video"										# Final dir with videos

	kodiUrl="user:password@localhost:8080"							# Specify user, password and port for Kodi JSON API (HTTP interface)

	logFile="/home/deluged/otrDecodeAll.log"						# path to the log file
	# log levels:	0=off; 1=error; 2=warn; 3=info; 4 debug; 5 verbose debug
	logLevel=2														# level, which messages shall be written into the log.
	echoLevel=5														# level, which messages shall be written to stdout.

	labelDb="/home/deluged/labeldb/labelsOfTorrents.db"				# File with file names and labels (see at github: Torrent-Label-DB) (optional)
	warnUnknownLabel=false											# Print a warning for files with an unknown label?
	# Add label to directory mapping. (optional)
	#   1st arg: Label
	#   2nd arg: Each movie with this label will be moved to this subdirectory of $outDir
	#   3rd arg: (optional) Whether SaneRenamix shall be used for movies with this label (default: false)
	#   4th arg: (optional) Whether the name of the movie/series shall be used as parent directory (default: true)
	addLabel "movie"	"Filme"				0		0
	addLabel "movie-en" "Filme-En"			"false"	"false"
	addLabel "docu"		"Dokumentationen"
	addLabel "tvserie"	"Serien"			true	true

	umask 0002														# Set permissions 775/664 per default
}


# These values are set after the command line arguments were parsed.
# This way they can't be overridden, but can use the final config variables
function funcConfigPost {
	cmdDecode="/usr/bin/otrtool"									# path to otrkey decoder
	cmdDecodeArgs="-x -e $user -p $pass -D $tempDir"				# for pyropeters otrdecoder

	#cmdDecode="/home/pi/bin/qemu-x86_64 -L /home/pi/ /home/pi/bin64/otrdecoder-64"
	#cmdDecodeArgs="-e $user -p $pass -o "$tempDir" -i"				# for original otrdecoder

	#cmdDecode="/usr/bin/otrpidecoder"								# path to NYrks otrdecoder
	#cmdDecodeArgs="-d -e $user -p $pass"							
	#tempDir="$inDir"												# no output dir supported!



	cmdCut="/home/deluged/multicutmkv.sh"							# path to multicut
	cmdCutArgs="-q -o $tempDir -t $tempDir"



	cmdSaneRenamix="/home/deluged/saneRenamix.sh"					# path to saneRenamix
	cmdSaneRenamixArgs="-s -f"
}
